<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/jquery.mask.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/miojo.css"/>

    <title>Miojo Food</title>
</head>
<body>
    <div class="container">

        <div class="card card-miojo mt-3 pt-3 mx-auto">
            <div class="card-body">
                <p class="h2 text-center">Hora do Miojo</p>
                <br>
                <% if (errors.length > 0){ %>
                    <div class="alert alert-danger" role="alert">
                        <strong>Atenção</strong>
                        <ul>
                            <% for (var i=0; i < errors.length; i++) { %>
                                <li><%= errors[i].msg %></li>
                            <% } %>
                        </ul>
                    </div>
                <% }%>
                <form action="/miojo" method="post">
                    <div class="form-group">
                        <label for="ampulheta1">Tempo da Ampulheta 1 (Minutos)</label>
                        <input class="form-control" type="number" id="ampulheta1" name="ampulheta1" value="<%= miojo.ampulheta1 %>">
                    </div>
                    <div class="form-group">
                        <label for="ampulheta2">Tempo da Ampulheta 2 (Minutos)</label>
                        <input class="form-control" type="number" id="ampulheta2" name="ampulheta2" value="<%= miojo.ampulheta2 %>">
                    </div>
                    <div class="form-group">
                        <label for="tempoPreparo">Tempo de Preparo (Minutos)</label>
                        <input class="form-control" type="number" id="tempoPreparo" name="tempoPreparo" <%= miojo.tempoPreparo %>>
                    </div>

                    <button class="btn btn-outline-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>